/**********Reseteo**********/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    margin: 5px;
    overflow-x: hidden;
  }

img{
    max-width: 100%;
}

/*****************Comienzo cuerpo de la página principal**************/

/****Clase sobre jabones artesanales****/
.sobre__jabones{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;   
}
.sobre__jabones h2{
    font-size: 30px;
    text-decoration: underline;
    
}/*FIN Clase sobre jabones artesanales*/



/******Clase imágenes de MUESTRA SOBRE JABONES artesanales*****/
/*******Aplico estilo a las imágenes****/
.muestra__jabon img{
    width:100%;
    margin:1em;
    border: 3px solid #D35400;
    transition: all 0.5s;

    /********Border Radius*******/
    border:5px solid blue;
    border-radius: 40px;
    color:black;
    padding: 5px; 
    width: 170px;
    
}


.muestra__jabon img:hover{
    height: 100%;
    width: 100%;
}

/*Aplicando Flex al contenedor-hijo*/
.muestra__jabon{
    display: flex;
    flex-direction: column;  
    margin: 1em;
    max-width: 300px;

}
/*****Estilos a los títulos****/
.muestra__jabon h2{
    color:#000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


/*****Contenedor PADRE muestra sobre jabones****/
.muestra__sobre__jabones{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; 
    justify-content: center;   
}
/*****FIN contenedor PADRE****/

/****Llamo a la clase título beneficios*****/
.tituloBeneficios{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    background-image: linear-gradient(to top,blue,cyan);
    }
/******Estilos a la sección de beneficios********/

/**Llamo a la clase card-left**/
.card-left{
    text-align: center;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-left p{
    background-image: linear-gradient(to top,#D38900,#00D3B9);
}

.card-left h2{
    font-size: 25px;
}

/***Llamo a las figuras***/
.card-right{
    max-width: 35em;
    margin:1em;
    
}
 .rounded-circle{
    border: 5px solid #008000;
}

/****Llamo al contenedor PADRE****/
.double__column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    
}
/*****Contenedor de cada tarjeta*****/
.card-beneficios{
    display: flex;
    justify-content: center;
}
/****FIN primeros 2 beneficios*****/

body{
background-color: #B2EBF2;
}

/*********FIN cuerpo de la página***********/

/******Responsive muestra sobre jabones*****/
@media screen and (max-width:800px){
    .muestra__sobre__jabones{
        grid-template-columns: auto;
    }
    .card-beneficios{
        flex-direction: column;
    }
}

/**********Pie de página***********/

.pie__pagina{
    background-color:#63648d;
}

.pie__pagina .pie__pagina__datos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.pie__pagina .pie__pagina__datos li a{
    color:#fff;
}
.pie__pagina .pie__pagina__datos li a:hover{
    color:#0000ff;
    transition: all 0.5s;
}

/******FIN PAGINA DE INICIO*****/

/**********Comienzo galería de imágenes*********/
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;

}
   

/**************FIN galería de imágenes**********/

/*************Comienzo precios de los jabones**********/

/*******Estilos del título de la tabla****/

.titu_plantas{
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
}

/*Estilos a la información sobre las plantas utilizadas*/
.card-group{
    padding: 20px;
    
}

/*Estilos para el Menú*/
.container-fluid{
    background-color: #2E4053;
    padding: 7px;
}

/*Estilos título de la página*/
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
}
/*Estilos para las secciones del menú*/
.dropdown-item{
    color:#D0D3D4;
}
.nav-item .nav-link{
    color: #F7F9F9;
}
.nav-link{
    color: #F7F9F9;
}
/***********Tarjetas********/
.card img{
    
    border: 5px solid blue;
    margin: 2px;
}
.card-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color:#2471A3;
}

.card-text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/**********FIN precios de los jabones*********/

/********Comienzo CONTACTO******/

.form-header{
    text-align: center;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color:#ff851b;
    padding: 14px 0;
    text-decoration: underline;
}

body{ 
    
    background-size: cover;
    background-attachment: fixed;
    }
     
    /******Fondo del formulario**********/
    .contenedor{ 
         background-color: #313052;
         width: 90%;
         max-width: 500px;
         margin: auto;
         padding: 5px 35px;
         margin-top: 30px;
         padding-bottom: 30px;
         border-radius: 3px;
         position: relative;
         /*top:75px;*/
        }
    
    /**********Títulos del formularaio************/
    .form-label{
           display: block;
           color:#ff851b;
           font-size: 16px;
           font-family: Arial, Helvetica, sans-serif;
           position: relative;
    }
    
    .form-input{
        padding-left: 100px;
        border: none;
        outline: none;
        border-bottom: 2px solid #ff851b;
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border-radius: 2px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color:#FFF;
    }
    
    .form{
           display: block;
           color:#008000;
           font-size: 16px;
           font-family: Arial, Helvetica, sans-serif;
           position: relative;
    }
    
    .form-textArea{
      resize: horizontal;
      height: 150px;
      width: 400px;
    
    }
    
    .botonSubmit{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        outline: none;
        background-color: #ff851b;
        font-size: 16px;
        border: none;
        color:#fff;
        padding: 15px 0;
        cursor: pointer;
        transition: 0.5s;
    }
    .botonSubmit:hover{
    color:#721bff
    }

    /***************FIN CONTACTO***********/

    /********Comienzo ingredientes*********/

    .contenedor__ingrediente{
        height: 100%;
        width: 100%;
    }

    .descripcion li{
        list-style: none;
    }

/****Contenedor con título y descripción***/
    .cont__titulo__descrip{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        max-width: 20em;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    /***Foto Ingrediente***/
    .foto__ingrediente{
        border: 4px solid red;
        margin:1em;
        max-width: 30em;
    }

    .contenedor_carta{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;

    }
    /*Uso de display grid al contenedor PADRE*/
    .contenedor__ingrediente{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 5px;
        justify-content: center;
    
    }

    .descripcion li{
        list-style: circle;
    }

     /*****Modo responsive en sección ingredientes*****/
    
    @media screen and (max-width:800px){
        .contenedor__ingrediente{
            grid-template-columns: auto;
            
        }
    }




    


