$fondoNav:#2E4053;
$letraNombrePagina: Arial, Helvetica, sans-serif;
$coloresSeccion: #F7F9F9;
$colorTituloCuadro: #1B4F72;
$letraTitulo: Arial, Helvetica, sans-serif;
$letraTarjetasContenido:Arial, Helvetica, sans-serif;
$colorTituloTarjetas: #2471A3;
$colorFooterFondo:#AF7AC5;
$colorHoverPie:#F7F9F9;
